{% extends "base.html" %}
{% block title %}Shop{% endblock title %}
{% load static %}
 {% block body %}
 
 <br><br><br>
  <img src="{%static 'img\banner1.jpg'%}" class="d-block w-100" alt="..">  

    <!-- Shop Section -->
    <section id="shop" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center mb-4">Shop Our Products</h2>
            <div class="row text-center">
                <!-- Product 1 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-primary fa-2x"></i>
                            </div>
                            <img src="{% static 'img\Product\cage.jpg' %}"alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 1</h3>
                            <p>Description of Product 1.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 2 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-primary fa-2x"></i>
                            </div>
                            <img src="{% static 'img\bowl.jpg' %}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 2</h3>
                            <p>Description of Product 2.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 3 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-primary fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\pedifree.png'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 3</h3>
                            <p>Description of Product 3.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 4 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\ainifishfood.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 5 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\bed.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 6 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\catbowl.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 7-->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\cathouse.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 8-->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\catss.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 9 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\cattoy.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Product 10 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\clean.png'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 11-->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\fishhome.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 12 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\fishfood.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 13 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\house.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 14 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\olivshampoo.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 15 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\parrotstand.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 16 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\patta.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Product 17 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\toy.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product 18 -->
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="icon mb-3">
                                <i class="fas fa-box-open text-warning fa-2x"></i>
                            </div>
                            <img src="{%static 'img\product\shampoo.jpg'%}" alt="Product " class="img-fluid mb-3 service-img">
                            <h3>Product 4</h3>
                            <p>Description of Product 4.</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <h3>$10</h3>
                                <button type="button" class="btn btn-outline-dark btn-lg custom-btn">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <style>
        .service-img {
            transition: transform 0.3s ease;
            height: 200px;
            object-fit: cover;
        }

        .card:hover .service-img {
            transform: scale(1.1);
        }

        .card-body {
            background: linear-gradient(135deg, #f6f6f6 0%, #e9ecef 100%);
            border-radius: 10px;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .custom-btn:hover {
            background-color: #D2042D;
            color: white; 
            border-color: #D2042D; 
        }
    </style>

    {% endblock body %}